

#unityPlayer{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 940px;
}

/* Esta regla esta definida previamente en muvac.tileMenu.css */
/* y es sobreescrita para solucionar un problema con el unity player. */
/* El problema consiste en que, el tile menu se muestra por debajo del */
/* unity player. */
.tile-menu > ul > li ul{
/*    background-image: url('fondo_menu.jpg');*/
    background-color: rgba(0,0,0,.9);
}