/*
    Description: Hoja de estilo unicamente para la pagina de inicio.
		Debería llamarse "index.html" y "index.css"
    Author: Victor Aguilar
    Author: Felipe Franco
*/

/**********************/
/* Slider y Promos    */
/**********************/

.column1{
/*    width:66%;*/
    width:90%;
    min-width: 100px;
    padding: 10px;
    float:right;
   margin-right:50px;
}
.titulo_02{
	 color:black;
    text-shadow: -2px 0px 0px #FFFFCC;
	font: bold 13px/1 "CharlB";
	background-image:url(../imagenes/pleca2.png);
	height:20px;
	margin-left:0px;
	
	
	}
	.titulo_02 h1{
		margin-left:280px;
		top:5px;
		
		}


/**********************/
/* noticias culturales*/
/**********************/
.column2
{
    color:#990000;
    text-shadow:-2px 1px 0px black;
    height:209px;
    width: 288px;
    text-align:center;    
    
    font: bold 13px/1 "CharlB";	
    float:right;
	right:3px;
	marigin-top:5px;
	margin-left:850px; 
	position:absolute;
	z-index:2;
}



#noticias h1
{
    color:#C30;
    height:15px;
    background-image:url(imagenes/sliders_fondo.png);
    border-radius:7px;
    box-shadow:5px 7px 0px rgba(0,0,0,0.5);
    border: 0px;
	 font:13px/1 "CharlB";
	 margin-top:-1px;
}

#noticias div{
    margin: 0px;
    padding: 0px;
    background-image:url(imagenes/sliders_fondo.png);
}

#noticias h1.empty{
    cursor: default;
}

/**************************/
/* Slider de introducción */
/**************************/
.slider{
    height:260px;
    width: 450%;
    margin-top:0px;
    margin-bottom:5px;
    margin-left:15px;
    margin-right: auto;
    background-color:black;
    background-image:url(imagenes/fondo_parallax.jpg);
    /*padding:5px 5px 5px 5px;*/
    border-radius:10px;
    

}

.slider li { 
    list-style: none;
    text-align:10%;
    margin-left:auto;
    border-radius:15px;
}

.slider ul li { 
    float: left;
    border-radius:15px;
    left:10px;
}	


/*zona de promos y cosas novedosas*/		
.promos
{
    width:100%;
    margin-left:15px;
    border-radius:15px;
    background-color: purple;


}

.promo{
    width:250px;
    height:230px;
    float:left;
    border-radius:15px;
    padding:5px 5px 5px 5px;
    background-image:url(imagenes/sliders_fondo.png);
    text-align:center;
    box-shadow:-5px -17px 0px rgba(0,0,0,0.5);
}

.promo1{

}

.promo2{ 

}

.promo3{
    width:360px;
}


.promos_textos
{
    background-image:url(imagenes/section_background.jpg);
    /*opacity:0.7;*/
    border-radius:7px;
    color:white;
    margin-top:14px;
    padding:6px;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    font:13px/1 "CharlB";


}
.logotipo_unam
{
    color:#C30;
    font: 13px/1 "CharlB";
    background-image:url(imagenes/sliders_fondo.png);
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom:-2px;
    border-radius:20px;
    text-align:center;

}

.logotipo_unam img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display:block;
}

.logotipo_unam h1{
    padding: 3px 0px;
}






