@charset "UTF-8";


@font-face {
	font-family: "alagard";
	src: url(type/alagard.ttf) format("truetype");
}
/* CSS Document */

/*cuerpo de la pagina*/
body
{
	background-color:white;
	font-family:"alagard",Helvetica;
/*	box-shadow:0px 0px 20px rgba(0,0,0,0.6);*/
	overflow-x:hidden;	
}
#contenido
{
	
	margin:0 auto;
	text-align:center;
	color:red;
}

#centrar_pagina
{
margin:0 auto;
margin-bottom:5%; 
text-align:center;
color:#FFF;
/*background: rgba(0.7,0.7,0.7,0.5);*/
border-radius:20px;
padding:20px;
/*box-shadow:0px 0px 20px rgba(0,0,0,0.6);*/


}

/*Cabecera de la página*/

/*Titulos y sus estilos*/

h1
{
	color:black;
	margin:0 auto;
}
h3
{
	color:black;
	margin:0 auto;
}
h4
{
	color:#CCCCCC;
	margin:0 auto;
}



a
{
	color:#333333;
	text-decoration:none;	
	
}


/* textos de los botones de contenido*/
#fundamentos_texto
{

	color:#CCCCCC;
/*	width:385px;*/
	margin:0 auto;
	background-color:#000000;
	border-radius:15px;
        cursor: pointer;
	
}

#precine_texto
{

	color:#CCCCCC;
/*	width:385px;*/
	margin:0 auto;
	background-color:#000000;
	border-radius:15px;
        cursor: pointer;
	
}
#amateur_texto
{
	color:#CCCCCC;
	margin:0 auto;
	background-color:black;
	border-radius:15px;
	display: off;
}
#profe_texto
{
	color:#CCCCCC;
	margin:0 auto;
	background-color:black;
	border-radius:15px;
}
#ingenio_texto
{
	color:#CCCCCC;
	margin:0 auto;
	background-color:black;
	border-radius:15px;
}
#tres_d_texto{
    color:#CCCCCC;
	margin:0 auto;
	background-color:black;
	border-radius:15px;
}
/*contenidos de la pagina inicial*/
.comic{
    width:850px;
    height:320px;
    position: relative;
    color: red;
/*    background-color: red;*/
/*    display:none;*/
    
    }
  .fundamentos_comic{
	width:850px;
    height:320px;
    position: relative;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    display:none;
	
    }

.precine_aparatos
{

	color:#CCCCCC;
/*	width:385px;*/
        height: auto;
        width: auto;
	margin:45px 45px 45px 45px;
	
	border-radius:15px;
        cursor: pointer;
	 display: none;
}
.amateur_aparatos
{

	color:#CCCCCC;
/*	width:385px;*/
        height: auto;
        width: auto;
	margin:45px 45px 45px 45px;
	
	border-radius:15px;
        cursor: pointer;
	 display: none;
}
.profe_aparatos
{

	color:#CCCCCC;
/*	width:385px;*/
        height: auto;
        width: auto;
	margin:45px 45px 45px 45px;
	
	border-radius:15px;
        cursor: pointer;
	 display: none;
}
.ingenio_aparatos
{

	color:#CCCCCC;
/*	width:385px;*/
        height: auto;
        width: auto;
	margin:45px 45px 45px 45px;
	
	border-radius:15px;
        cursor: pointer;
	 display: none;
}


.tres_d_recorrido{
    height: 300px;
    width: 700px;
    align: center;
    border-radius:15px;
        cursor: pointer;
	display:none;
	margin-left: 250px;
}


nav.menu_principal ul li img
{
	
	display: inline-block;
/*	margin-right:20px;
	margin-bottom: 15px;*/
	cursor: pointer;
        background-color: white;
/*	box-shadow:0px 0px 20px rgba(0,0,0,0.6);*/
	

}




#biogr
{
position:absolute;
left:90%;
top:20%;
width:150px;
height:150px;

}
#informacion_aparatos{
    height: 55%;
    width: 75%;
    position:absolute;
    top:15%;
    left:10%;
    right:10%;
    bottom:25%;
    border-radius:35px;
    padding: 5px;
    background-color: white;
    overflow: hidden;
    box-shadow: 35px 52px 16px 13px rgba(0,0,0,0.5);
    display: none;
    
    
}
#informacion_aparatos .header_content
{
  
    
    
    padding: 5px;
    background-color:red;
    border-radius:15px;
    box-shadow: 52px 16px 13px rgba(0,0,0,0.5);
    cursor: pointer;
}

    
.aparatos_nombre_interior
{
    color:black;
    height:25px;
    width:43%;
    text-align:center;
    font-size:25px;
    margin-top:3%;
    margin-left:30%;
    margin-right:30%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow:#000;
/*    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #000;*/
}



#mutos{
    weight:0%;
}
#lint{
    weight:0%;
}
button{
    font-size:14px; 
}

footer{
	height:30px;
/*	background-color:gray;*/
/*	border-image:url(imagenes/pleca.png);*/
	border-soloid:#000000;
	border-radius:25px;
	padding:5px 10px;
	bottom:0%;
	right:4%;
	bottom:15%;
	position:absolute;
	float: right;
}

footer address
{
	margin-left:auto;
	margin-right:auto;
	width:136px;}

footer a.difucion_cultural
{
	width:53px;
	height:30px;
	display:block;
	background-image:url(imagenes/logos/difucion_cultural.png);
	float:left;}
footer a.filmoteca
{
	width:24px;
	height:30px;
	display:block;
	background-image:url(imagenes/logos/filmoteca.png);
	float:left;}
footer a.facebook
{
	width:29px;
	height:30px;
	display:block;
	background-image:url(imagenes/logos/facebook.png);
	float:left;}
footer a.twitter
{
	width:30px;
	height:30px;
	display:block;
	background-image:url(imagenes/logos/twitter.png);
	float:left;}

.caja_info_aparato
{
    
}

.texto1
{
    width:30%;
    float:left;
    text-align : justify;
    margin-top: 10px;
    padding:2%;
    border-radius:8px;
    weight:auto; 
    height:250px;
    color: black;
    
}
.texto2
{
    width:30%;
    float:left;
    text-align : justify;
    padding:2%;
    margin-top: 10px;
    padding:3px;
    border-radius:8px;
    weight:auto; 
    height:250px;
    color: black;

}

.texto3
{

    height:auto;
    right:66%;
    width:30%;
    text-align : justify;
    margin-top: 10px;
     margin-left: 10px;
    padding:3px;
    border-radius:8px;
    weight:33%; 
    height:250px;
	float:left;
        color: black;
}	